<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="homework-container">
    <button id="addDiv">
        click me!
    </button>
</div>
</body>
</html>
