<div id="loading-block">Загрузка...</div>
<div id="filter-block" class="hide">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>
<div id="xhr-failed" class="hide">
    <div class="msg">
        Не удалось загрузить города
    </div>
    <button type="button" id="get-towns-list-btn">
        Повторить
    </button>
</div>
