<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>
<div id="homework-container">
    {{> "./towns-content.hbs"}}
</div>
</body>
</html>
